APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=koko_qmt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

QMT_CLIENT_PATH=
QMT_ACCOUNT_ID=
QMT_ACCOUNT_TYPE=STOCK

TRADE_MODE=paper
MAX_SINGLE_ORDER_RATIO=0.30
ENABLE_REAL_TRADE=false
